<div class="container">
  <% ['Juniper','TaskIT'].each do |site| %>
  <div class="text-primary">
    <h2><%= site %></h2>
  </div>
  <div class="row">
    <h4>New Users</h4>
    <% if @recent[site].empty? %>hey, where is everybody?<% end %>
    <% @recent[site].each do |user| %>
    <div class="col-sm-4">
      <div class="panel panel-profile">
        <div class="bg-primary panel-heading clearfix">
          <a href="" class="pull-left profile">
            <img alt="" src="<%= user[:profile][:s3_img_url] %>" class="img-circle img80_80">
          </a>
          <h3><%= user[:profile][:name]%></h3>
          <p><%= user[:profile][:info]['headline'] %></p>
        </div>
        <ul class="list-group">
          <% if user[:profile][:company] %>
          <li class="list-group-item">
            <i class="fa fa-building-o"></i>
            <a href=<%= user[:profile][:company]['website'] %> >
              <%= user[:profile][:company]['name'] %>
            </a>
          </li>
          <% end %>
          <li class="list-group-item">
            <i class="fa fa-globe"></i>
            <% if user[:profile][:info]['location'] %>
            <%= user[:profile][:info]['location'] %>
            <% else %>
            <%= user[:profile][:current_location]['address'] %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>